
.filterNav {
  display: flex;
  justify-content: space-evenly;
  list-style: none;
  margin: 0 auto 2rem auto;
  padding-bottom: 0.5em;
  padding-left: 0;
  width: 50%;
}

.filterNav a {
  border-bottom: 1px solid #ffffff;
  color: #ffffff;
  padding: 0.25rem;
}

.filterNav a:hover {
  color: #daa520;
}

.filterNav a:active {
  border-bottom: 1px solid #daa520;
  box-shadow: 2px 2px 5px #daa520;
}

/* Search styles */

.search {
  margin: 0 1rem;
  padding: 0.5rem;
  /* width: 25%; */
}
